 .container {
  display: flex;
  flex-direction: column;
  color: white;
}
.row1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #419a85;
  text-align: center;
  height: 62vh;
}
.row2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 35vh;
}
.play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #419a85;
  border: none;
  width: 120px;
  height: 120px;
  transition: width 300ms ease-out;
  transition: height 300ms ease-out;
}
.play-img {
  width: 90px;
  height: 90px;
}
.play-btn:hover {
  width: 100px;
  height: 100px;
}
.play-img:hover {
  width: 80px;
  height: 80px;
}
